.po-item {
    margin: 1rem;
    width: calc(45% - 2rem);
    min-width: 17.5rem;
  }
  
  .po-item__content {
    padding: 0;
  }
  
  .po-item__info {
    padding: 1rem;
    text-align: center;
  }
  
  .po-item__image {
    width: 100%;
    height: 12.5rem;
    margin-right: 1.5rem;
  }
  
  .po-item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .po-item__info h2,
  .po-item__info h3,
  .po-item__info p {
    margin: 0 0 0.5rem 0;
  }
  
  .po-item__actions {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ccc;
  }
  
  .po-item__modal-content {
    padding: 0;
  }
  
  .po-item__modal-actions {
    text-align: right;
  }
  
  .po-item__actions button,
  .po-item__actions a {
    margin: 0.5rem;
  }